body {
	background-color: black;
}

#search-bar {
	position: fixed;
	left: 1%;
	bottom: 1%;
	
	width: 90%;
	height: 5%;
	
	outline: 0;
	border: none;
	
	background-color: black;
	color: green;
	
	font-family: "Ubuntu Mono";
}

.hidden-item {
	font-size: 50px;
}
