body {
	background-color: black;
}

#search-bar {
	position: fixed;
	left: 1%;
	bottom: 1%;
	
	width: 95%;
	height: 5%;
	
	outline: 0;
	border: none;
	
	background-color: #1C1C1C;
	color: white;
	
	font-family: "Ubuntu Mono", monospace;
}

#search-bar::selection {
	color: #1C1C1C;
	background-color: white;
}

.hidden-item {
	position: absolute;
	display: none;

	background-color: white;
	color: black;
	
	font-size: 24px;

	font-family: "Ubuntu Mono", monospace;
}

.slideshow {
	background-color: inherit;
}

.slideshow img {
	width: 400px;
	height: 400px;
}
